
%h1{style:"text-align: center; color: #ffffff"}
  Estimado usuario  
  = @profile.firstname.capitalize
%br/
%h3{style:"text-align: center; color: #ffffff"}
  Se ha creado su cuenta satisfactoriamente

%h3{style:"text-align: center; color: #ffffff"}
  le invitamos a:

  = link_to 'Ir a la Cuenta', accounts_url(@account) , style:"text-align: center; color: #ffc107;text-decoration: none;"