%h1{style:"text-align: center; color: #ffffff"}
  Estimado usuario  
  = @profile.firstname.capitalize
%h3{style:"text-align: center; color: #ffffff"} 
  Usted tiene un nuevo mensaje relacionado con el proyecto: 
  = @project.name 
%h3{style:"text-align: center; color: #ffffff"}
  le invitamos a:
  = link_to 'Ir al Proyecto', project_url(@project), style:"text-align: center; color: #ffc107;text-decoration: none;"