%h1{style:"text-align: center; color: #ffffff"}
  Estimado usuario  
  = @profile.firstname.capitalize
%br/
%h3{style:"text-align: center; color: #ffffff"}
  Usted tiene el Proyecto: 
  = @project.name 
  por evaluar.
%h3{style:"text-align: center; color: #ffffff"}
  le invitamos a:

  = link_to 'Ir al Proyecto', project_url(@project) , style:"text-align: center; color: #ffc107;text-decoration: none;"