%h1{style:"text-align: center; color: #ffffff"}
  Estimado usuario  
  = @profile.firstname.capitalize
%h3{style:"text-align: center; color: #ffffff"}
  El Proyecto: 
  = @project.name 
  fue evaluado por el cliente.
%h3{style:"text-align: center; color: #ffffff"}
  le invitamos a:
  = link_to 'Ir al Proyecto', project_url(@project) , style:"text-align: center; color: #ffc107;text-decoration: none;"
 