- if current_page?(root_path)
  %li.item#selected
    %a.icon(href= root_path) &#xF0CA
    =link_to 'Dashboard', root_path, id: "list-text"
  %li.item
    %a.icon(href= accounts_path) &#xF045
    =link_to 'Cuentas', accounts_path, id: "list-text"
  %li.item
    %a.icon(href= new_user_session_path) &#xF170
    =link_to 'Ejecutivos', executives_path, id: "list-text"

- elsif current_page?(accounts_path)
  %li.item
    %a.icon(href= root_path) &#xF0CA
    =link_to 'Dashboard', root_path, id: "list-text"
  %li.item#selected
    %a.icon(href= accounts_path) &#xF045
    =link_to 'Cuentas', accounts_path, id: "list-text"
  %li.item
    %a.icon(href= new_user_session_path) &#xF170
    =link_to 'Ejecutivos', executives_path, id: "list-text"

- elsif current_page?(executives_path)
  %li.item
    %a.icon(href= root_path) &#xF0CA
    =link_to 'Dashboard', root_path, id: "list-text"
  %li.item
    %a.icon(href= accounts_path) &#xF045
    =link_to 'Cuentas', accounts_path, id: "list-text"
  %li.item#selected
    %a.icon(href= new_user_session_path) &#xF170
    =link_to 'Ejecutivos', executives_path, id: "list-text"

-else
  %li.item
    %a.icon(href= root_path) &#xF0CA
    =link_to 'Dashboard', root_path, id: "list-text"
  %li.item
    %a.icon(href= accounts_path) &#xF045
    =link_to 'Cuentas', accounts_path, id: "list-text"
  %li.item
    %a.icon(href= new_user_session_path) &#xF170
    =link_to 'Ejecutivos', executives_path, id: "list-text"
