-if current_page?(root_path)
  %li.item#selected
    %a.icon(href= root_path) &#xF045
    =link_to 'Cuentas', root_path, id: "list-text"
-else
  %li.item
    %a.icon(href= root_path) &#xF045
    =link_to 'Cuentas', root_path, id: "list-text"


-# -if current_user.accounts.any?
-#   %li.item
-#     %a.icon  &#xF05E
-#     =link_to 'Todos los Proyectos', '', id: "list-text", disabled: true
-#     - current_user.accounts.each do |account|
-#       - if account.projects.any?
-#         -account.projects.each do |p|
-#           %li.li-projects
-#             =link_to "#{p.name} (#{p.account.name})", project_path(p)

-# -if current_user.accounts.any?
-#   %li.item#projects-list-wrapper
-#     %a.icon  &#xF05E
-#     =link_to 'Todos los Proyectos',root_path, id: "list-text"
-#   - current_user.accounts.each do |account|
-#     - if account.projects.any?
-#       %ul.ul-projects
-#         -account.projects.each do |p|
-#           %li.item-project-name.ml-5.mb-2
-#             =link_to "#{p.name} (#{p.account.name})", project_path(p)



