%nav.side.nav-bar
  %ul.menu.sticky-menu

    %li.logo= image_tag 'logo.jpg', height: '50px'



    -if current_user.profile.role.kind == "admin"

      =render 'shared/admin_options'

    -elsif current_user.profile.role.kind == "executive"


      =render 'shared/executive_options'


    -elsif current_user.profile.role.kind == "client"

      -if current_page?(root_path)
        %li.item#selected
          %a.icon(href= root_path) &#xF05E
          =link_to 'Proyectos', root_path, id: "list-text"
      -else
        %li.item
          %a.icon(href= root_path) &#xF05E
          =link_to 'Proyectos', root_path, id: "list-text"



      - if current_user.account.projects.any?
        -current_user.account.projects.each do |p|
          %li.li-projects
            =link_to "#{p.name}", project_path(p)


    %li.item#exit
      %a.icon(href= destroy_user_session_path data-method="delete") &#xF02B
      =link_to 'Salir', destroy_user_session_path, method: :delete, id: "list-text"








-# %ul.sub-menu
    -#   %li.item
    -#     .icon
    -#       &#xF0AD
    -#     =link_to 'Tag1', new_user_session_path
    -#   %li.item
    -#     .icon
    -#       &#xF0AD
    -#     =link_to 'Tag2', new_user_session_path
    -#   %li.item
    -#     .icon
    -#       &#xF0AD
    -#     =link_to 'Tag3', new_user_session_path
    -#   %li.item
    -#     .icon
    -#       &#xF0AD
    -#     =link_to 'Tag4', new_user_session_path
    -# %li.item
    -#   %a.icon(href= new_user_session_path) &#xF05B
    -#   =link_to 'Calendario', new_user_session_path, id: "list-text"
    -# %li.item
    -#   %a.icon(href= new_user_session_path) &#xF133
    -#   =link_to 'Notificaciones', new_user_session_path, id: "list-text"
