%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center
    %div.container

      -if current_user.profile.role.kind === "admin"
        %header.centered
          %h3.dashboard-title Bienvenido, Admin
        %hr.centered
        %br/
        %section.centered.form
          %article
            %p Este es tu Dashboard.
            %p Aquí podrás administrar toda la información que necesites de la aplicación, desde registrar ejecutivos, hasta administrar cuentas y visualizar la información individual de estas. Puedes comenzar con elegir una de las opciones a continuación:
          %br/
        %section.ocss.flexc-r.rounded-corners.centered.form
          %a.flexc-c.box.black(href=accounts_path)
            = image_tag 'ico-clients.svg', alt: 'icon', height: '100px', class: 'ico-white'
            %div
              %h2 Cuentas
              %p Administra la información de cuentas en la aplicación.
          %a.flexc-c.box.reverse.black(href=executives_path)
            = image_tag 'ico-executive.svg', alt: 'icon', height: '100px', class: 'ico-white'
            %div
              %h2 Ejecutivos
              %p Crea, edita o elimina información de usuarios ejecutivos.

      -elsif current_user.profile.role.kind === "executive"
        %header.centered
          %h3.dashboard-title= "Bienvenido, " + current_user.profile.firstname
          %hr
        %section.centered.form
          %article
            %p Este es tu Dashboard.
            %p Aquí podrás administrar las cuentas actualmente asociadas a tu perfil.
          %ul

        -unless current_user.accounts.empty?
          %section.centered.form.grid
            - current_user.accounts.each do |account|
              %a.card.text-white.bg-dark.mb-3.small.full(href="#{account_path(account)}")
                %div.card-head
                  %div.card-body.project.title.icon &#xF034
                  %div.card-body.project.title= account.name
                  %p.card-body.date Proyectos activos: #{account.projects.where(status: "in_progress").length}.

      -elsif current_user.profile.role.kind === "client"
        %header.centered
          %h3.dashboard-title Proyectos
        %hr.centered
        %br/

        %section.centered
          - @projects.each do |project|
            %a.card.text-white.bg-dark.mb-3.small(href="#{project_path(project)}")
              %div.card-head
                -if project.kind == "default"
                  %div.card-body.project.title.icon &#xF034
                -elsif project.kind == "multichoice"
                  %div.card-body.project.title.icon &#xF029

                %div.card-body.project.title= project.name
                %p.card-body.date  Fecha límite: #{project.deadline}
              %p.card-body.small= project.description
              %div.tag-corner-position
                -if project.tag
                  .small-tag
                    = project.tag.name
                -if project.status == "delivered"
                  .small-tag.delivered-project ENTREGADO
                -elsif project.status == "approved"
                  .small-tag.approved-project APROVADO
                -elsif project.status == "rejected"
                  .small-tag.rejected-project RECHAZADO

        %hr.centered
        %ul
        %footer.centered.tags
          %li.small-tag.from-selection=link_to "TODOS", account_path(current_user.account)
          -@tags.each do |tag|
            %li.small-tag.from-selection=link_to "#{tag[0]}", root_path(current_user.account, tag: tag[0])
        %br/
        %br/