%div.page
  %nav.top-menu
    %div.lateral.left
      a
    %div.lateral.right
      c
    %div
      Jodido front end
  
  %section.content-page
    .box
      .center#base
        = image_tag 'admin.png', height: '90px', width: 'auto'
      .text-space
        .block
          %p informacion de la aplicacion   
          %p I
          %p informacion de la aplicacion
          %p informacion de la aplicacion
    .box
      .center#base
        = image_tag 'executive.ico', height: '90px', width: 'auto', id: 'invert'
      .text-space
        .block
          %p informacion de la aplicacion 
          %p D
          %p informacion de la aplicacion
          %p informacion de la aplicacion
    .box
      .center#base
        = image_tag 'client.ico', height: '100px', width: 'auto'
      .text-space
        .block
          %p informacion de la aplicacion 
          %p C
          %p informacion de la aplicacion
          %p informacion de la aplicacion
  %section.footer
    %div.center.line-complete
      = link_to 'Login', new_user_session_path, class: 'btn'
    %div.flex.center
      .icon-medium
        &#xF044
      .info.center
        .block
          %h3 Deje atrás las largas cadenas de Correos 
          %h3 electrónicos, las hojas de calculo y los post-its.
          %b informacion de la aplicacion
          %p informacion de la aplicacion
          %p informacion de la aplicacion
          %p informacion de la aplicacion
          %p informacion de la aplicacion

