%body.ocss.flexc-c.background-color
  = image_tag 'home-background', alt: 'background', width: '100%', class: 'background'
  %nav.flexc-r
    %div.nav-elem.logo
      = image_tag 'logo.jpg', alt: '', height: '50px', width: '', class: ''
    %div.nav-elem.center
      %h2 Bienvenido a GPP APP
    %a.nav-elem Iniciar Sesión
  %section.flexc-r
    %article.flexc-c.box
      = image_tag 'ico-admin.svg', alt: 'icon', height: '100px', class: 'ico-white'
      %div
        %h2 Administrador
        %p Registra ejecutivos, asocia clientes y edita información.
    %article.flexc-c.box.reverse
      = image_tag 'ico-executive.svg', alt: 'icon', height: '100px', class: 'ico-white'
      %div
        %h2 Ejecutivo
        %p Crea y edita proyectos de forma rápida y sencilla.
    %article.flexc-c.box
      = image_tag 'ico-clients.svg', alt: 'icon', height: '100px', class: 'ico-white'
      %div
        %h2 Cliente
        %p Administra proyectos; comenta, aprueba y rechaza tales.
  %section.loginbtn
    %a(href=new_user_session_path) Comienza a usar GPP APP
  %section.flexc-c.homeinfo
    %h1 Title
    %article
      %h2 Minititle
      %p Description
    %article
      %h2 Minititle
      %p Description
  %footer @Rightocopy ORIALI 2018