.nested-fields
    .form-group
        %label.custom-file
            =f.file_field :document, class: 'dropify custom-filhhe-input', type: "file", id: "file"
            -# %span.custom-file-control.btn.btn-info Choose file

    .form-inline
        .form-group
            =f.label :title, 'Titulo (opcional):', class: 'mr-4'
            =f.text_field :title, class: 'form-control'

    =link_to_remove_association "Remover Archivo", f
    %hr
