%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center
    %div.container
      %header.centered.flexc-r
        %div.link
          %div.back
            = link_to '<', :back, class: "icon"
            = link_to 'Volver', :back
          %h3.dashboard-title= "Editar Proyecto"

        -if @project.status == "in_progress"
          %p.small-pad.iconsfont.status.in_progress En Progreso
        -elsif @project.status == "delivered"
          %p.small-pad.iconsfont.status &#xF0A9
        -elsif @project.status == "rejected"
          %p.small-pad.iconsfont.status.rejected &#xF165
        -elsif @project.status == "approved"
          %p.small-pad.iconsfont.status.approved &#xF164
      %hr.centered/
      %br/


      = form_with(model: @project, local: true) do |form|
        %section.centered.form
          - if @project.errors.any?
            #error_explanation
              %h2
                = pluralize(@project.errors.count, "error")
                prohibited this profile from being saved:
              %ul
                - @project.errors.full_messages.each do |message|
                  %li= message

          %div.flexc-r.space-between
            %h3.flex100 Datos del Proyecto
            - if @project.status == "in_progress"
              =link_to 'Entregar', update_project_status_path(id: @project.id, status: "delivered"), class: 'btn btn-dark selectit'
            - else @project.status == "delivered"
              =link_to 'En Progreso de Nuevo', update_project_status_path(id: @project.id, status: "in_progress"), class: 'btn btn-dark selectit'

          .form-group
            = form.label :name, 'Nombre'
            = form.text_field :name, class: 'form-control',  required: true
          .form-group
            = form.label :description, "Descripción"
            = form.text_area :description, class: 'form-control',  required: true
          %div.flexc-r.space-between
            .form-group
              = form.label :responsible, "Responsable"
              = form.text_field :responsible, class: 'form-control'
            .form-group
              = form.label :start_date, "Fecha de Inicio"
              = form.date_field :start_date, class: 'form-control'
            .form-group
              = form.label :deadline, "Fecha Límite"
              = form.date_field :deadline, class: 'form-control'
          %br/
          %br/
          -# %hr.centered
          -if @tags[1]
            %h4.etiquetas-disponibles.mr-4.mt-2 Etiquetas Disponibles:
            -@tags.each do |tag|
              -if tag[0] != nil && tag[1] != nil
                .form-check.form-check-inline
                  =tag[0]
                  =form.radio_button :tag_id, tag[1], class: 'form-check-input ml-2'
        %section.centered.form
          .form-inline
            .form-group.mt-3
              = form.fields_for :tag, @tag do |tag_fields|
                =tag_fields.label :name, 'Crear nueva etiqueta: ', class: 'mr-4'
                = tag_fields.text_field :name, class: 'form-control '

          -# %hr
          %br
          %br
          %br

          -if !@archivos.empty?
            %h3.mb-4 Archivos Adjuntos
            %div.flex-grid
              -@archivos.each do |a|
                -if a.document.attachment.blob.content_type.split("/")[0] == "image"
                  %div.v.pos-rela
                    =image_tag((a.document), :class => "archivo-wrapper" )
                    %a.optionicon.edit(href= "#{archive_path(a)}" data-method="delete" data-confirm="¿Borrar archivo?") &#xF165
                    -unless a.title.empty?
                      %p.edit-down= a.title

            %div
              -@archivos.each do |a|
                -if a.document.attachment.blob.content_type.split("/")[0] != "image" 
                  %p
                  %div.flexc-r
                    -if !a.title.empty?
                      %li= a.title + "  "
                    -else
                      %li Sin título
                    %a.iconsfont(href= "#{archive_path(a)}" data-method="delete" data-confirm="¿Borrar archivo?") &#xF165

            %hr
          %h3 Adjuntar Archivos
          %div#archives
            = form.fields_for :archives do |archive|
              = link_to_add_association 'Nuevo', form, :archives, class: 'btn btn-warning agregar'
              -# = render 'archive_fields', f: archive
          %hr/
          .actions.d-flex
            = form.submit 'Guardar', class: "btn btn-dark btn-lg archiv right"
          %br/
          %br/
