%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center
    %div.container
      %header.centered.flexc-r
        %div.link
          = link_to '<', :back, class: "icon"
          = link_to 'Volver', :back
          %h3.dashboard-title Nuevo Proyecto
      %hr.centered
      %br/


      = form_with(model: [@account, @project], local: true) do |form|


        %section.centered.form
          - if @project.errors.any?
            #error_explanation
              %h2
                = pluralize(@project.errors.count, "error")
                prohibited this profile from being saved:
              %ul
                - @project.errors.full_messages.each do |message|
                  %li= message

        %section.centered.form
          %h4.tipo-de-proyecto.mr-4.mt-2 Tipo de Proyecto:
          %div.radio
            = form.label :kind, "Estándar", class: 'radiolabel'
            = form.radio_button :kind, :default
            = form.label :kind, "Selectivo", class: 'radiolabel'
            = form.radio_button :kind, :multichoice
          %section.ocss.flexc-r.absolute
            %article.flexc-c.box
              = image_tag 'ico-project.svg', alt: 'icon', height: '100px', class: 'ico-white bright'
              %div
                %h2 Estándar
                %p Carga todo tu trabajo y espera la aprobación completa.
            %article.flexc-c.box.reverse
              = image_tag 'ico-multichoice.svg', alt: 'icon', height: '100px', class: 'ico-white bright'
              %div
                %h2 Selectivo
                %p Carga distintas opciones y espera sólo una aprobación.
          %br/
          %hr/

          %h3 Datos del Proyecto
          .form-group
            = form.label :name, 'Nombre'
            = form.text_field :name, class: 'form-control',  required: true
          .form-group
            = form.label :description, "Descripción"
            = form.text_area :description, class: 'form-control',  required: true
          %div.flexc-r.space-between
            .form-group
              = form.label :responsible, "Responsable"
              = form.text_field :responsible, class: 'form-control',  required: true
            .form-group
              = form.label :start_date, "Fecha de Inicio"
              = form.date_field :start_date, class: 'form-control',  required: true
            .form-group
              = form.label :deadline, "Fecha Límite "
              = form.date_field :deadline, class: 'form-control',  required: true
        -if @tags[1]
          %section.centered.form
            %h4.etiquetas-disponibles.mr-4.mt-2 Etiquetas Disponibles:
            -@tags.each do |tag|
              -if tag[0] != nil && tag[1] != nil
                .form-check.form-check-inline
                  =tag[0]
                  =form.radio_button :tag_id, tag[1], class: 'form-check-input ml-2'

        %section.centered.form
          .form-inline
            .form-group.mt-3
              = form.fields_for :tag, @tag do |tag_fields|
                =tag_fields.label :name, 'Crear nueva etiqueta: ', class: 'mr-4'
                = tag_fields.text_field :name, class: 'form-control '
          %hr
          %h3 Adjuntar Archivos
          %div#archives
            = form.fields_for :archives do |archive|
              = render 'archive_fields', f: archive
              = link_to_add_association 'Agregar Archivo', form, :archives, class: 'btn btn-warning btn-nomarg'



          .actions.d-flex.justify-content-end
            = form.submit 'Guardar', class: "btn btn-dark btn-lg"
      %br/
      %br/
