%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center.uppermargin
    %div.container
      %header.centered.flexc-r
        %div.link
          %div.back
            = link_to '<', :back, class: "icon"
            = link_to 'Volver', :back
          %h3.dashboard-title= "Información de Proyecto"
        -if @project.status == "in_progress"
          %div.small-pad.iconsfont.status.in_progress En Progreso
        -elsif @project.status == "delivered"
          %p.small-pad.iconsfont.status &#xF0A9
        -elsif @project.status == "rejected"
          %p.small-pad.iconsfont.status.rejected &#xF165
        -elsif @project.status == "approved"
          %p.small-pad.iconsfont.status.approved &#xF164

      %hr.centered/
      %br/

      %section.centered.form
        -if !@is_client
          %div.flexc-r.space-between
            %h2.flex100
              Cuenta:
              =link_to "#{@project.account.name}", account_path(@project.account)
            =link_to "Editar Proyecto", edit_project_path(@project), class: 'selectit btn btn-warning'
            =link_to "Eliminar Proyecto", project_path(@project), method: :delete, data: {confirm: "¿Estás seguro?"}, class: 'selectit btn btn-danger'
          %b Nombre del Proyecto:
          %span= @project.name
          %br
          %b Tipo de Proyecto:
          %span= @project.kind
          %br
          %b Descripción:
          %span= @project.description
          %br
        -else
          %h3= @project.name
          %p= @project.description
          %b Responsable:
          %span= @project.responsible
          %br
        %b Fecha de Inicio:
        %span= @project.start_date
        %br
        %b Fecha Límite:
        %span= @project.deadline
        %br
        -if @project.tag
          %b TAG:
          %span= @project.tag.name
          %br
        - unless @is_client
          %b Próximos pasos:
          -if @project.next_steps == ""
            %span= @project.next_steps
            %br
          -else
            %span Sin próximos pasos
            %br
      %br/
      %hr.centered/
      %br/

      %section.centered.form
        -begin
          -index = 0
          -unless @project.archives.empty?
            %h4 Archivo(s)
            %div.flex-grid
              -@project.archives.each do |a|
                -if a.document.attachment.blob.content_type.split("/")[0] == "image"
                  -index += 1
                  %div.v.pos-rela
                    =image_tag((a.document), :class => "archivo-wrapper" )
                    %a{ href: url_for(a.document), download: a.document, target: 'blank', class: 'optionicon edit left' } &#xF0BD
                    -if @is_client && @project.status == "delivered" && @project.kind == "multichoice"
                      %a{ href: update_archive_status_path(project_id: @project.id, id: a.id,  status: "aprobado"), class: "optionicon edit right"} &#xF164
                    -if @is_client && @project.status == "approved" && @project.kind == "multichoice" && a.approved
                      %p.optionicon.edit.right.checked &#xF164
                    -unless a.title.empty?
                      %p.edit-down= a.title
            -unless index == 0
              %br/

            %div
              -@project.archives.each do |a|
                -if a.document.attachment.blob.content_type.split("/")[0] == "video"
                  %div.archiv.v.pos-rela
                    -if a.title != (nil || "")
                      %h5.archivtitle.forvideo= a.title
                    -else
                      %h5.archivtitle.forvideo Sin título
                    = video_tag "#{url_for(a.document)}", controls: true, autobuffer: true, width: "500px"
                    -if @is_client && @project.status == "delivered" && @project.kind == "multichoice"
                      %a{ href: update_archive_status_path(project_id: @project.id, id: a.id,  status: "aprobado"), class: "optionicon edit vidright "} &#xF164
                    -if @is_client && @project.status == "approved" && @project.kind == "multichoice" && a.approved
                      %p.optionicon.edit.vidright.checked &#xF164
                  %hr

            %div.flexc-c.inverted
              -@project.archives.each do |a|
                -if a.document.attachment.blob.content_type.split("/")[0] == "audio"
                  %div.pos-rela
                    -if a.title != (nil || "")
                      %p.archivtitle.foraudio= a.title
                    -else
                      %p.archivtitle.foraudio Sin título
                    = audio_tag "#{url_for(a.document)}", controls: true, preload: "none", autobuffer: true
                    -if @is_client && @project.status == "delivered" && @project.kind == "multichoice"
                      %a{ href: update_archive_status_path(project_id: @project.id, id: a.id,  status: "aprobado"), class: "optionicon foraudio"} &#xF164
                    -if @is_client && @project.status == "approved" && @project.kind == "multichoice" && a.approved
                      %p.optionicon.foraudio.checked &#xF164
                  %hr/
                
            %div.flex-grid
              -@project.archives.each do |a|
                -if a.document.attachment.blob.content_type.split("/")[0] == "application"
                  -index += 1
                  %div.v.pos-rela
                    =image_tag(("ico-file.png"), :class => "archivo-wrapper" )
                    %a{ href: url_for(a.document), target: 'blank', class: 'optionicon edit left' } &#xF0BD
                    -if @is_client && @project.status == "delivered" && @project.kind == "multichoice"
                      %a{ href: update_archive_status_path(project_id: @project.id, id: a.id,  status: "aprobado"), class: "optionicon edit right"} &#xF164
                    -if @is_client && @project.status == "approved" && @project.kind == "multichoice" && a.approved
                      %p.optionicon.edit.right.checked &#xF164
                    -if !a.title.empty?
                      %p.edit-down= a.title
                    -else
                      %p.edit-down= "Archivo " + a.document.attachment.blob.content_type.split("/")[1]
            -unless index == 0
              %br/

        -rescue

      %section.centered.form
        .actions.d-flex.justify-content-center
          -if @project.status == "delivered" && @project.kind == "multichoice" && @is_client
            =link_to 'Rechazar todo', update_project_status_path(id: @project.id, status: "rechazado"), class: 'btn btn-danger'
            %br/
            %hr/
            %br/
          -if @project.status == "delivered" && @project.kind == "default" && @is_client
            =link_to 'Aprobar', update_project_status_path(id: @project.id, status: "aprobado"), class: 'btn btn-success'
            =link_to 'Rechazar', update_project_status_path(id: @project.id, status: "rechazado"), class: 'btn btn-danger ml-5'
            %br/
            %hr/
            %br/
      -# .d-flex.justify-content-center
      %section.centered.form
        .container-comments
          %h3 Comentarios
          %div
            -if @comentarios[1]
              -@comentarios.each do |c|
                %hr/
                -if c.id != nil
                  .message.flex
                    .body
                      .sender
                        -if c.user
                          =c.user.profile.firstname + " dice: "
                        -else
                          = "User:"
                      .date
                        = (c.created_at).strftime("%d/%m/%Y") + " "
                        = (c.created_at).strftime("a las %I:%M%p")
                      .comment
                        =c.content.capitalize
                    .flex.container-botton.icon
                      .botton
                        -if current_user == c.user
                          = link_to comment_path(c.id), method: :delete, data: { confirm: "¿Estás seguro?" } do
                            &#xF165

      %section.centered.form
        = form_with(model: @comments, url: "/projects/#{@project.id}/comments", local: true) do |form|
          - if @comments.errors.any?
            #error_explanation
              %h2
                = pluralize(@comments.errors.count, "error")
                prohibited this profile from being saved:
              %ul
                - @comments.errors.full_messages.each do |message|
                  %li= message
          %div
            = form.text_field :content, class: 'form-control bottommargin', placeholder: 'Escribe tu comentario.'
            =form.submit 'Enviar', class: 'btn btn-warning btn-lg'        
            %br/
            %br/
            %br/
