%body.ocss.flexc-c.background
  -# = image_tag 'home-background', alt: 'background', width: '100%', class: 'background'
  %div.flexc-r.container.homenav.homeshadow
    %div.nav-elem.logo
      = image_tag 'logo.jpg', height: '50px'
    %div.nav-elem.center
      -# %h2 Bienvenido a GPP APP
    -# %a.nav-elem Iniciar Sesión
  %section#b-form.flexc-c.bootstrap
    %h2 Iniciar Sesión
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, class: "size-24 top-margin-7"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .field
        = f.label :password, 'Contraseña', class: "size-24 top-margin-7"
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "form-control"
      - if devise_mapping.rememberable?
        .field.top-margin-7
          = f.check_box :remember_me
          = f.label :remember_me, "Recordar mis datos"
      .actions
        = f.submit "Entrar", class: "btn"
        %br/

  -#       %br/
  -# %div.homeinfo.bigger-font-size
  -#   %h1 Gestión de proyectos para equipos creativos
  -#   %article.flexc-r
  -#     %div
  -#       %h1 Mejor organización para enfocarse
  -#       %p Description
  -#     %p Imagen
  -#   %article.flexc-r
  -#     %p Imagen
  -#     %div
  -#       %h1 Herramientas para ayudarte a agilizar tu trabajo
  -#       %p Description
  -#   %article.flexc-r
  -#     %div
  -#       %h1 Funciones adaptadas a tu rol
  -#       %p Description
  -#     %p Imagen
  -# %section.flexc-r#b-description
  -#   %article.flexc-c.box
  -#     = image_tag 'ico-admin.svg', alt: 'icon', height: '100px', class: 'ico-white'
  -#     %div
  -#       %h2 Administrador
  -#       %p Registra ejecutivos, asocia clientes y edita información.
  -#   %article.flexc-c.box.reverse
  -#     = image_tag 'ico-executive.svg', alt: 'icon', height: '100px', class: 'ico-white'
  -#     %div
  -#       %h2 Ejecutivo
  -#       %p Crea y edita proyectos de forma rápida y sencilla.
  -#   %article.flexc-c.box
  -#     = image_tag 'ico-clients.svg', alt: 'icon', height: '100px', class: 'ico-white'
  -#     %div
  -#       %h2 Cliente
  -#       %p Administra proyectos; comenta, aprueba y rechaza tales.


  -# %footer @Rightocopy ORIALI 2018

/ <haml_loud> render &quot;devise/shared/links&quot; </haml_loud>
