.v {
  form {
    padding: 3rem 8rem;
  }

  .datos-cuenta {
    // border: 1px solid red;
  }

  .datos-cuenta-proyectos {
    // border: 1px solid pink;
  }

  .datos-cuenta-etiquetas {
    // border: 1px solid blue;
  }
}
