/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropify
*/

@import 'dropify';
@import "bootstrap";

// Custom bootstrap variables must be set or imported *before* bootstrap.

$gold: rgb(251, 217, 46);

 * {
  margin: 0px;
  padding: 0px;
}

 @font-face{
  font-family:batch;
  src:url('batch-icons-webfont.eot');
  src:url('batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('batch-icons-webfont.woff') format('woff'),
    url('batch-icons-webfont.ttf') format('truetype'),
    url('batch-icons-webfont.svg#batchregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: GeosansLight;
  src:url('GeosansLight.ttf');
}

@font-face{
  font-family: Roboto;
  src:url('Roboto-Regular.ttf');
}

@font-face{
  font-family: LatoThin;
  src:url('Lato-Thin.ttf');
}

body {
  background-color: rgb(20, 20, 20);
}
