// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-comments{
  hr{
    max-width: 91%;
  }
  .sender{
    font-weight: bold;
    color: #50b6ab;
  }
  .flex{
    display: flex;
  }
  .message{
    max-width: 93%;
    margin-top: -7px;
    margin-bottom: -7px;
  }
  .body{
    width: 95%;
    .date{
      margin-top: -7px;
      color: rgb(199, 199, 199);
      font-size: 0.75rem;
    }
  }
  .container-botton{
    margin-top: -7px;
    width: 5%;
    align-items: center;
    a{
      color: #dc3545;
      
  }
  a:hover{
    font-size: larger;
    margin-left: -2px;
    margin-top: 2px;
    text-decoration: none;
    background-color: transparent;
    }
  }
}

  .icon {
          font-family: 'batch';
          position: relative;
          text-align: center;
          -webkit-font-smoothing: antialiased;
          color: #dc3545;
          font-size: 22px;
          text-transform: none;
          cursor: pointer;
          margin: -5px;
          padding: 0px;
        }
      
          .footer-comments{
            display: flex;
            height: 48px;
            input{
              height: 100%;
            }
          }
//   h3{
//     width: 100%;
//   }
//   display: block;
//   justify-content: center;
//   margin-bottom: 1rem;

//   form{
//     display: flex;
//     align-items: center;
//     .form-control {
//       display: inline-block;
//     }
//     input.button{
//       margin-left: 10px;
//       margin-right: -10px;
//       border-radius: 50%;
//       height: 50px;
//       flex-grow: 0;
//     }
//   }
//   .form-group{
//     flex-grow: 1;
//     margin: 0px;
//   }
//   .footer{
//     display: flex;
//     align-content: space-around;
//     justify-content: space-around;
//     input{
//       margin: auto;
//       height: 48px;
//     }
//   }

// }

// div.text{
//   position: relative;
  // color: #141414;
//   display: flex;
//   width: 100%;
//   span{
//     font-weight: bold;
//     color: #50b6ab;
//   }
//   p{
//     margin-bottom: 0px;
//   }
// }

// p.icon {
//       font-family: 'batch';
//       position: relative;
//       text-align: center;
//       -webkit-font-smoothing: antialiased;
//       color: #50b6ab;
//       font-size: 22px;
//       text-transform: none;
//       cursor: pointer;
//       margin: -5px;
//       padding: 0px;
//     }
// .frame{
//   max-height: 450px;
//   overflow: hidden;
//   padding: 0;
//   list-style-type: none;
//   padding: 18px;
//   padding-bottom: 10px;
//   padding-top: 10px;
//   bottom: 47px;
//   display: flex;
//   flex-direction: column;
//   top: 0;
//   overflow-y: scroll;
// }


// .r{
//   float: right;
//   // background: whitesmoke;
// }

// // .r::after {
// //     width: 0;
// //     height: 0;
// //     content: "";
// //     top: -5px;
// //     left: 14px;
// //     position: relative;
// //     border-style: solid;
// //     border-width: 13px 13px 0 0;
// //     // border-color: whitesmoke transparent transparent transparent;
// // }

// // .l{
// //   // background-color: whitesmoke;
// // }

// // .l::before {
// //   width: 0;
// //   height: 0;
// //   content: "";
// //   top: -5px;
// //   left: -14px;
// //   position: relative;
// //   border-style: solid;
// //   border-width: 0 13px 13px 0;
// //   // border-color: transparent whitesmoke transparent transparent;
// // }

// .macro {
//   margin-bottom: 5px;
//   margin-top: 2.5px;
//   width: 95%;
//   border-radius: 5px;
//   padding: 5px;
//   display: flex;

// }