$black-t: rgba(0, 0, 0, 0.219);

header {
  margin-bottom: 1rem;
  &.flexc-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .link {
    a {
      color: #1e1e20;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-decoration: underline;
      text-decoration-color: #717174;
    }
    a.icon {
      text-decoration: none;
      margin-left: 20px;
      margin-right: 4px;
      font-size: 16px;
    }
  }
  a.btn, a.btn-dark {
    max-height: 37.5px;
    margin-right: 19%;
    margin-top: 5px;
  }
}

.centered {
  margin: auto;
  margin-left: 5.5%;
  &.tags {
    margin-left: 9%;
  }
  &.form {
    max-width: 85%;
    .radio {
      @media only screen and (min-width: 1000px) {
      display: flex;
      align-content: center;
      background-color: #2b2b2f;
      border-radius: 15px;
      input[type="radio"] {
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-grow: 1;
        min-height: 250px;
        transition: 0.3s;
        color: #f8f8f8;
        background-color: #2b2b2f;
        border-radius: 15px;
        margin: 0;
        -webkit-appearance: none; /*to disable the default appearance of radio button*/
        -moz-appearance: none;
        &:hover {
          background-color: #1b1b1d;
          flex-grow: 1.25;
        }
      }
      input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
        outline-color: transparent; /*to remove the square border on focus*/
        flex-grow: 1.10;
      }

      input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
        background-color: #111113;
        flex-grow: 1.15;
      }

      input[type="radio"]:checked ~ span:first-of-type {
        color: rgb(2, 2, 2);
      }
    }
    }
  }
}

.dashbrds {
  display: flex;
  flex-direction: row;
  background-color: #2c2d32;
  .center {
    width: 400%;
    background-color: rgb(255, 255, 255);
  }
  .side {
    min-width: 16%;
    &.right {
      padding-right: 9px;
    }
  }
}

.project {
  a {
    text-decoration: none;
    color: white;
  }
}

.small-tag {
  border-style: solid;
  display: inline-block;
  border-width: 1px;
  border-radius: 5px;
  border-color: $black-t;
  z-index: 1;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: Roboto;
  background-color: rgb(251, 217, 46);
  border-color: rgb(251, 217, 46);
  color: #2b2b2f;
  &.from-project {
    position: absolute;
    top: -10px;
    right: -15px;
  }
  &.delivered-project {
    background-color: rgb(236, 236, 236);
    border-color: rgb(236, 236, 236);
  }
  &.approved-project {
    background-color: rgb(35, 170, 17);
    border-color: rgb(35, 170, 17);
    color: white;
  }
  &.rejected-project {
    background-color: rgb(207, 37, 37);
    border-color: rgb(207, 37, 37);
    color: white;
  }
  &.from-selection {
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s;
    a {
      color: rgb(46, 46, 46);
    }
    &:hover {
      filter: saturate(50%);
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.dashboard-title {
  font-family: 'Lato', sans-serif;
  font-weight: 225;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.container {
  min-width: 100%;
  margin: 0;
  margin-top: 1rem;
}

.card {
  &.small {
    position: relative;
    margin-left: 1rem;
    width: 80%;
    transition: 0.2s;
    &:hover {
      text-decoration: none;
      background-color: white;
      filter: saturate(50%);
      // margin-left: 0.25rem;
      // width: 85%;
      transform: scale(1.020);
    }
    &.dontsaturate {
      &:hover {
        filter: saturate(100%);
      }
    }
    &.full {
      width: 95%;
      margin-left: 0;
    }
    .card-body {
      padding-bottom: 0px;
      padding-bottom: 15px;
      &.title {
        padding-right: 0;
        flex-grow: 0;
      }
      &.small {
        font-style: italic;
        font-size: 13px;
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 0px;
        letter-spacing: 0.5px;
      }
      &.span {
        background-color: #424249;
      }
      &.icon {
        -webkit-font-smoothing: antialiased;
        text-transform: none;
        font-family: 'batch';
        margin-top: -1px;
      }
    }
  }
}

.project {
  position: relative;
  font-family: Roboto;
  font-size: 17px;
  color: white;
  text-decoration: none;
  bottom: 5px;
}

.card-head {
  display: flex;
  background-color: #2b2b2f;
  max-height: 55px;
}

hr {
  max-width: 85%;
}

.tag-corner-position {
  position: absolute;
  top: -10px;
  right: -15px;
}

.rounded-corners {
  border-radius: 15px;
  background-color: #2b2b2f;
}

.dashboar_admin-options {
  display: inline-block;
}

.space-between {
  align-content: space-between;
  justify-content: space-between;
  input {
    width: 21vw;
  }
  @media only screen and (max-width: 1000px) {
    input {
      width: 100%;
    }
  }
}

.radiolabel {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .flexc-r {
    flex-direction: column;
  }
  .radiolabel {
    display: inline-block;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2px;
}

.justify-content-center{
  justify-content: center;
}

.small-pad {
  padding: 8px;
  padding-left: 22.5px;
  padding-right: 22.5px;
  border-radius: 5px;
  border-width: 0px;
  border-color: #28282c;
  &:hover {
    cursor: pointer;
  }
  &.status {
    max-height: 40px;
    margin-right: 20%;
    margin-top: -7.5px;
    font-size: 40px;
    color: #4a4a53;
    position: relative;
    right: -94px;
    &.approved {
      color: rgb(98, 223, 82);
      &.archive {
        font-size: 40px;
        margin-top: -17px;
      }
    }
    &.rejected {
      color: rgb(223, 82, 82);
    }
    &.in_progress {
      margin-top: 7px;
      font-size: 20px;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-color: #717174;
    }
  }
}

.back {
  margin-top: -5px;
  margin-bottom: 0px;
}

.cardicons {
  position: absolute;
  right: 5px;
  top: 5px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: rgb(251, 217, 46);
    }
  }
}

.iconsfont {
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  font-family: 'batch';
}

.selective {
  display: flex;
  // background-color: darkgrey;
  color: white;
  justify-content: space-evenly;
  margin-left: 20px;
}

.selectit {
  max-height: 39px;
  margin-left: 20px;
}

.flex100 {
  width: 60%;
}

.t-align {
  text-align: center;
}

.pos-rela {
  position: relative;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.archiv {
  margin-top: 10px;
}

.archivtitle {
  padding-left: 20px;
  font-style: italic;
  &.forvideo {
    position: absolute;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    color: white;
    max-width: 500px;
    background-color: #111113c4;
    margin-bottom: -30px;
    z-index: 5;
  }
  &.foraudio {
    color: #111113;
    background-color: #f8f8f8;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-bottom: 5px;
    max-width: 300px;
    border-radius: 5px;
  }
}

.inverted {
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.uppermargin {
  padding-top: 5px;
}

.bottommargin {
  margin-bottom: 15px;
}

.bright {
  filter: brightness(600%)
}

.forexe {
  z-index: 1;
  position: relative;
  right: -75%;
  margin-bottom: -50px;
  a {
    color: white;
    &:hover {
      color: #f8b422;
      text-decoration: none;
    }
  }
}