$white-t: rgba(255, 255, 255, 0.363);
$black-t: rgba(0, 0, 0, 0.219);
.flexc-r {
  display: flex;
  &.reorder {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 10px;
    img {
      max-height: 250px;
      width: auto;
      border-radius: 5px;
    }
    a {
      color: white;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        background-color: #242427;
      }
    }
  }
}
.flexc-c {
  display: flex;
  flex-direction: column;
}
.ocss {
  position: relative;
  font-family: GeosansLight;
  *, body, html {
    margin: 0;
    padding: 0;
  }
  &.background {
    background-image: url("home-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
  }
  .homenav {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $white-t;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 0px;
    margin: 0;
    min-width: 100%;
    &.homeshadow {
      border-bottom-style: none;
    }
    a {
      padding: 5px;
      text-align: center;
      transition: 0.3s;
      border-left-style: solid;
      border-left-color: $white-t;
      border-left-width: 1px;
      &:hover {
        background-color: $white-t;
      }
    }
    .nav-elem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: rgb(238, 238, 238);
      &.center {
        width: 400%;
      }
      &.logo {
        background-color: white;
        margin: 0;
      }
    }
  }
  .box {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 250px;
    transition: 0.3s;
    color: #f8f8f8;
    // background-color: #2b2b2f;
    background-color: transparent;
    border-radius: 15px;
    pointer-events: none;
    text-decoration: none;
    &.black {
      display: flex;
      background-color: #2b2b2f;
      pointer-events: all;
      &:hover {
        background-color: #171718;
      }
    }
    &:hover {
      // background-color: #1b1b1d;
      width: 130%;
    }
  }
  .loginbtn {
    text-align: center;
    padding: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $white-t;
    background-color: $black-t;
  }
  .homeinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    background-color: rgb(138, 136, 136);
  }
  .ico-white {
    filter: opacity(90%);
  }
  .size-24 {
    font-size: 24px;
  }
  .top-margin-7 {
    margin-top: 7px;
  }
  .bigger-font-size {
    font-size: 125%;
  }
  #b-form {
    color: white;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: $white-t;
    border-width: 1px;
    border-radius: 7.5px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.795);
    input {
      margin: auto;
      max-width: 300px;
      font-family: Arial, Helvetica, sans-serif;
    }
    input:-webkit-autofill {
      background-color: rgb(225, 227, 255) !important;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  }
  #b-description {
    background-color: rgba(46, 46, 46, 0.452);
  }
  footer {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(65, 65, 65);
  }
  @media only screen and (min-width: 1200px) {
    .background {
      top: -25%;
    }
    .box {
      p {
        display: block;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    #b-form {
      border-style: none;
      border-radius: 0;
      margin: 0;
      width: 100%;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      input {
        max-width: 250px;
      }
    }
    .homenav {
      background-color: transparent;
      border-bottom-style: solid;
    }
    section.flexc-r {
      flex-direction: column;
    }
    .ocss {
      background-color: black;
    }
    .background {
      display: none;
    }
    .box {
      min-height: 200px;
      flex-direction: row;
      justify-content: space-evenly;
      p {
        display: block;
      }
      &:hover {
        width: 100%
      }
      &.reverse {
        flex-direction: row-reverse;
      }
    }
  }
}


.absolute {
  display: none;
  @media only screen and (min-width: 1000px) {
    display: flex;
    position: absolute;
    top: 165px;
    width: 67.5%;
    pointer-events: none;
  }
}