.v {
  .tipo-de-proyecto {
    display: inline-block;
  }
  .etiquetas-disponibles {
    display: inline-block;
  }

  .inline-me {
    display: inline-block;
  }


  ::-webkit-file-upload-button {
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    margin-right: 20px;
  }

  .archivo-wrapper {
    border: 1px solid rgb(251, 217, 46);
    display: inline-block;
    max-height: 190px;
    overflow: hidden;
    img {
      max-width: 300px;
    }
  }

  .titulo-archivo-edit {
    background-color: rgb(251, 217, 46);
    display: inline-block;
  }
}
