.jcss {
*{
  margin: 0px;
  padding: 0px;
}

.page {
  display: block;
  height: 100vh;
  width: 100vw;
  min-width: 620px;
  font-family: GeosansLight;
}

.top-menu{
  background-color: #50b6ab;
  *{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lateral{
    width: 140px;
  }

}

h3 {
  color: #242424;
  font-size: 1em;
  font-weight: 600;

}

.left{
  float: left;
  border-right-style: solid;
  border-width: 1px;
  margin-left: 20px;
}
.center{
  margin-left: auto;
  margin-right: auto;
}

.right{
  float: right;
  border-left-style: solid;
  border-width: 1px;
  margin-right: 20px; 
}

.left-menu{
  display: block;
  width: 20%;
  height: 100%;
  background-color: #0a111b;
  .elem-menu {
    .icon {
      font-family: 'batch';
      position: relative;
      width: 50px;
      text-align: center;
      line-height: 44px;
      -webkit-font-smoothing: antialiased;
      color: #50b6ab;
      font-size: 28px;
      text-transform: none;
      cursor: pointer;
    }
    margin: 2.5%;
    width: 95%;
    height: 40px;
    background-color: #080808; /* For browsers that do not support gradients 
    background-image: linear-gradient(to bottom right, #292524, #686868);*/
  }
}

.effect-clear { 
  -moz-box-shadow: inset 0 0 10px #4a4d52;
  -webkit-box-shadow: inset 0 0 10px #4a4d52;
  box-shadow: inset 0 
}

.content-page{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56vh;
  min-height: 260px;
  // width: 100%;
  background-color: #ffffff;
  min-width: 360px;
  margin-left: 20px;
  margin-right: 20px; 
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 180px;
  height: calc(44vh - 40px);
  max-width: auto;
  width: 100%;
  background-color: #d2d8d8;
  .line-complete{
    width: 100%;
  }
  .info{
    text-align: center;
    border-radius: 10px;
    /*box-shadow: 0 0 10px #ffffff; */
  }
  
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-medium{
  font-family: 'batch';
  width: 80px;
  height: 80px;
  margin: 10px;
  line-height: 80px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  color: #50b6ab;
  font-size: 57px;
  text-transform: none;
  cursor: pointer;
}
#base{
  display: flex;
  align-items: last baseline;
  justify-content: center;
}

.flex{
  display: flex;
}

.block{
  display: block;
}

.btn {
  text-align: center;
  line-height: 44px;
  height: 40px;
  min-width: 200px;
  width: 30%;
  background-color: #50b6ab;
  border-radius: 10px;
  /*box-shadow: 0 0 10px #ffffff; */
  margin: 10px;
}

.box{
  background-color: #e4e4e4;
  .icon-space{
    height: 25vh;
    width: 100%;
    min-height: 100px;
  }
  .text-space{
    min-height: 100px;
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 90%;
    min-width: 190px;
    p{
      margin-top: 10px;
      margin-bottom: 10px;
      color: #4a4a4a;
      letter-spacing: -0.2px;
      font-size: 24px;
      line-height: 24px;
    }
  }
  height: calc(100%);
  min-height: 40vh;
  min-height: 50vh;
  min-width: 222px;
  width: 100%;
  /*box-shadow: 0 0 10px #ffffff; */
  border-width: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 0.3s;
  &:hover {
    width: 150%;
  }
}

#invert{
  transform: scaleX(-1);
}

.card{
  height: 50vh;
  min-height: 200px;
  width: 25%;
  min-width: 200px;
  max-width: 250px;
  margin: 10px;
  border-radius: 30px;
  width: 25%;
}
}