.nav-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  box-shadow: 1px 1px 7px #0000007a;
  z-index: 1;
}
.item {
  display: flex;
  cursor: pointer;
  color: #c7c7c7;
  font-family: 'Lato', sans-serif;
  line-height: 44px;
  font-size: 16.25px;
  height: 50px;
  transition: 0.2s;
  padding-left: 12.5px;
  padding-right: 6px;
  padding-top: 2.5px;
  .icon {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    position: relative;
    text-align: center;
    font-family: 'batch';
    line-height: 44px;
    margin-right: 8px;
    font-size: 22px;
    width: 44px;
    margin-top: 0px;
  }
  a{
    width: 100%;
    height: 100%;
    color: #c7c7c7;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  &:hover{
    background-color: #ffffff14;
    .icon {
      filter: brightness(125%);
    }
  }
}
.sub-menu{
  border-top-style: ridge;
  border-bottom-style: groove;
  border-bottom-color: #5c5e6808;
  border-top-color: #5c5e6808;
  background-color: #ffffff08;
  padding-left: 35px;
  margin-left: -20px;
}
#selected{
  background-color:rgba(21, 21, 21, 0.5);
  .icon{
   color: rgb(251, 196, 46);
  }
}


  .li-projects {
    // border: 1px solid blue;
    list-style-type: none;
    cursor: pointer;
    margin-left: 71px;
    margin-top: 4px;
    font-size: .9rem;
    a {
      color: #c7c7c7;
      margin-bottom: 11px;
      display: inline-block;
      &:hover {
        color: #868080;
        text-decoration: none;
      }
    }
  }


// .ul-projects {
//   margin-left: 26px;
//   .item-project-name {
//     list-style-type: none;
//     font-size: .9rem;
//     cursor: pointer;
//     color: #c7c7c7;
//     a {
//       color: #c7c7c7;
//       &:hover {
//         color: #c7c7c7;
//         text-decoration: none;
//       }
//     }

//   }
// }


.sticky-menu {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top:0
}

 @media only screen and (max-width: 600px) {
   .item {
     text-align: center;
     justify-content: center;
     align-content: center;
     min-width: 80px;
   }
  #list-text {
    display: none;
  }



}
.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
}

.optionicon {
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  position: relative;
  text-align: center;
  font-family: 'batch';
  line-height: 44px;
  margin-right: 4px;
  font-size: 22px;
  width: 44px;
  &.edit {
    position: absolute;
    top: 0;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
    &.right {
      right: 0;
      &:hover {
      color: rgb(136, 255, 136);
      }
    }
    &.vidright {
      left: 450px;
      &:hover {
        color: rgb(136, 255, 136);
      }
    }
    &.left {
      left: 0;
      &:hover {
        color: rgb(255, 217, 49);
      }
    }
    &.checked {
      color: rgb(136, 255, 136);
    }
  }
  &.foraudio {
    color: rgb(31, 31, 31);
    transition: 0.2s;
    position: absolute; 
    top: -7px;
    right: 68%;
    &:hover {
      color: rgb(255, 193, 23);
      transform: scale(1.1);
    }
    &.checked {
      color: rgb(136, 255, 136);
    }
  }
}

.edit-down {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.698);
  padding: 5px;
  width: 100%;
  text-align: center;
  transition: 0.2s;
  &:hover {
    background-color: transparent;
    color: transparent;
    text-shadow: 0 0 0px transparent;
  }
}
