- if @user.errors.any?
  #error_explanation
    %h2
      = pluralize(@user.errors.count, "error")
      prohibited this profile from being saved:
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message
.form-group
  = form.label :email
  = form.email_field :email, class:  "form-control", required: true
// %br/
-if current_page?(new_executive_path)
  .form-group
    = form.label :password
    = form.text_field :password, class:  "form-control", required: true
// %br/
= form.fields_for :profile, @profile do |profile_fields|
  .form-group
    = profile_fields.label :firstname
    = profile_fields.text_field :firstname, class:  "form-control", required: true
  // %br/
  .form-group
    = profile_fields.label :lastname
    = profile_fields.text_field :lastname, class:  "form-control", required: true
    = profile_fields.hidden_field :role_id

