%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center
    %div.container
      %header.centered.flexc-r
        %div.link
          %div.back
            = link_to '<', :back, class: "icon"
            = link_to 'Volver', :back
          %h3.dashboard-title= "Editar Ejecutivo"
      %hr.centered/
      %br/
      %section.centered.form
        = form_with(model: @user, url: "/executives/#{@user.id}", local: true) do |form|
          =render 'form', form: form 
          %br/
          .actions.d-flex.justify-content-center
            = form.submit 'Guardar Cambios', class: "btn-dark small-pad"