%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center
    %div.container
      %header.centered.flexc-r
        %div.link
          -# = link_to '<', root_path, class: "icon"
          -# = link_to 'Volver', root_path
          %h3.dashboard-title= "Ejecutivos"
        =link_to 'Crear Ejecutivo', new_executive_path, class: 'btn btn-dark'
      %hr.centered
      %br/
      %section.centered
        - @executives.each do |executive|
          %div.card.text-white.bg-dark.mb-3.small.dontsaturate
            %div.card-head
              %div.card-body.project.title.icon &#xF046
              %div.card-body.project.title #{executive.profile.firstname} #{executive.profile.lastname}
              %p.card-body.date Email: #{executive.email}
            %div
              -unless executive.accounts.empty?
                %p.card-body.small Cuentas asociadas a este ejecutivo:
                - index = 0
                - executive.accounts.each do |a|
                  -if index%2==0
                    %li.card-body.small{:style => "background-color: #29292c;"}= a.name
                    - index += 1
                  -else
                    %li.card-body.small= a.name
                    - index += 1
              -else
                %p.card-body.small Este ejecutivo no tiene ninguna cuenta asociada.
            %div.flexc-r.cardicons
              %a.optionicon(href= "#{edit_executive_path(executive)}") &#xF13A
              %a.optionicon(href= "#{executive_path(executive)}" data-method="delete" data-confirm="¿Quieres borrar este ejecutivo?") &#xF056
        -if @executives.empty?
          %p No hay ejecutivos registrados.