%html
  %body{style:"background-color: #212529;"}
    %div.nav-elem.logo
      = image_tag 'logo.jpg', height: '50px'
    %div{style:"margin: auto;margin-left: auto;margin-left: 7.5%" }
      = yield
