.form
  = form_with(model: @account, local: true) do |form|
    - if @account.errors.any?
      #error_explanation
        %h2
          = pluralize(@account.errors.count, "error")
          prohibited this profile from being saved:
        %ul
          - @account.errors.full_messages.each do |message|
            %li= message

    .form-group
      = form.label :name, 'Nombre de la Cuenta'
      = form.text_field :name, class: 'form-control', required: true

    = form.fields_for :client, @client do |client_fields|
      .form-group
        = client_fields.label :email
        = client_fields.email_field :email, class: 'form-control',  required: true
      -if current_page?(new_account_path)
        .form-group
          = client_fields.label :password
          = client_fields.text_field :password, class: 'form-control',  required: true

      = client_fields.fields_for :profile, @profile do |profile_fields|
        .form-group
          = profile_fields.label :firstname, 'Nombre del Contacto'
          = profile_fields.text_field :firstname, class: 'form-control',  required: true
        .form-group
          = profile_fields.label :lastname, 'Apellido del Contacto'
          = profile_fields.text_field :lastname, class: 'form-control',  required: true
          = profile_fields.hidden_field :role_id
    .form-group
      = form.label :executive_id, 'Ejecutivo a Asociar'
      = form.select :executive_id, @executives, {include_blank: true}, {class: 'custom-select'}
    %br/
    .actions.d-flex.justify-content-center
      -if current_page?(controller: "accounts", action: 'new')
        = form.submit 'Crear Cuenta', class: "btn-dark small-pad"
      - unless  @account.id.nil?
        -if current_page?(controller: "accounts", action: 'edit')      
          = form.submit 'Guardar Cambios', class: "btn-dark small-pad"

    %br/
    %br/