%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center
    %div.container
      %header.centered.flexc-r
        %div.link
          -# = link_to '<', root_path, class: "icon"
          -# = link_to 'Volver', root_path
          %h3.dashboard-title= "Cuentas"
        =link_to 'Crear Cuenta', new_account_path, class: 'btn btn-dark'
      %hr.centered
      %br/
      %section.centered
        - @accounts.each do |account|
          %div.forexe
            %a.optionicon(href= "#{account_path(account)}" data-method="delete" data-confirm="¿Quieres borrar esta cuenta? Todos los proyectos, tags y archivos asociados se eliminarán también como consecuencia. Esta acción es irreversible.") &#xF056
          %a.card.text-white.bg-dark.mb-3.small.pos-rela(href="#{account_path(account)}")
            %div.card-head
              %div.card-body.project.title.icon &#xF046
              %div.card-body.project.title= account.name
              %p.card-body.date Email: #{account.client.email}
            %div.flexc-r
              -if account.executive
                %p.card-body.small Ejecutivo a cargo: #{account.executive.profile.firstname} #{account.executive.profile.lastname}
                %p.card-body.small.span Email: #{account.executive.email}
              -else
                %p.card-body.small Sin ejecutivo asociado.
        -if @accounts.empty?
          %p No hay ninguna cuenta registrada.
      %br/