%section.dashbrds
  = render :partial => 'shared/sidebar'
  %div.center
    %div.container
      %header.centered.flexc-r
        %div.link
          %div.back
            = link_to '<', :back, class: "icon"
            = link_to 'Volver', :back
          %h3.dashboard-title= "Nueva Cuenta"
      %hr.centered/
      %br/
      %section.centered.form
        =render 'form'