.v
  %section.dashbrds
    = render :partial => 'shared/sidebar'
    %div.center
      %div.container
        -if current_user.profile.role.kind == "admin"
          %header.centered.flexc-r
            %div.link
              %div.back
                = link_to '<', :back, class: "icon"
                = link_to 'Volver', :back
              %h3.dashboard-title= "Cuenta: " + @account.name
            =link_to 'Editar Cuenta', edit_account_path(@account), class: 'btn btn-dark'
        -else
          %header.centered
            %h3.dashboard-title= "Cuenta: " + @account.name
        %hr.centered
        %br/

        %section.centered.form
          %b Nombre del Contacto/Cliente:
          %span= @account.client.profile.firstname + " " + @account.client.profile.lastname
          %br
          %b Email del Cliente:
          %span= @account.client.email
          %br
          -begin
            -unless !@is_admin
              %b Nombre del Ejecutivo a Cargo:
              %span= @account.executive.profile.firstname + " " + @account.executive.profile.lastname
              %br

              %b Email del Ejecutivo:
              %span= @account.executive.email
              %br
          -rescue
          %br/

        %header.centered.flexc-r
          %div.link
            -# = link_to '<', root_path, class: "icon"
            -# = link_to 'Volver', root_path
            %h3.dashboard-title= "Proyectos"
          =link_to 'Crear Proyecto', new_account_project_path(@account), class: 'btn btn-dark'
        %hr.centered/
        %br/
        %section.centered
          -if @projects
            - @projects.each do |project|
              %a.card.text-white.bg-dark.mb-3.small(href="#{project_path(project)}")
                %div.card-head
                  -if project.kind == "default"
                    %div.card-body.project.title.icon &#xF034
                  -elsif project.kind == "multichoice"
                    %div.card-body.project.title.icon &#xF029

                  %div.card-body.project.title= project.name
                  %p.card-body.date  Fecha límite: #{project.deadline}
                %p.card-body.small= project.description
                %div.tag-corner-position
                  -if project.tag
                    .small-tag
                      = project.tag.name
                  -if project.status == "delivered"
                    .small-tag.delivered-project ENTREGADO
                  -elsif project.status == "approved"
                    .small-tag.approved-project APROVADO
                  -elsif project.status == "rejected"
                    .small-tag.rejected-project RECHAZADO
          -else
            %p Sin proyectos.

        -if @tags
          %hr.centered
          %ul
          %footer.centered.tags
            %h4 Etiquetas:
            %li.small-tag.from-selection=link_to "TODOS", account_path(@account)
            -@tags.each do |tag|
              %li.small-tag.from-selection=link_to "#{tag}", account_path(@account, tag: tag)
          %br/
          %br/
